.search-icon {
  cursor: pointer;
}

.list-wrapper {
  display: flex;
  flex-direction: column;
}

.recipe-element {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  &__name {
    cursor: pointer;
  }
}

mat-card-title {
  &.mat-card-title__header {
    margin-bottom: 20px;
  }
}

mat-divider {
  &.mat-divider__content {
    margin-top: 20px;
  }
}

mat-card-actions {
  &.mat-card-actions__add {
    padding-top: 20px;
  }
}
