//.search-wrapper {
//  .mat-form-field-flex {
//    display: flex;
//    align-items: flex-end;
//    background-color: red !important;
//  }
//}
//
//.test {
//  display: flex;
//  .mat-form-field-flex {
//    display: flex;
//    align-items: flex-end;
//    background-color: red !important;
//  }
//}

//.mat-form-field-flex {
//  display: flex;
//  align-items: flex-end;
//  background-color: red !important;
//}

:host(.list) {
  background-color: red !important;
  width: 30%;
  max-width: 1000px;
  min-width: 250px;
}

.list-wrapper {
  display: flex;
  flex-direction: column;
}

.recipe-element {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  &__name {
    cursor: pointer;
  }
}

mat-card-title {
  &.mat-card-title__header {
    margin-bottom: 20px;
  }
}

mat-divider {
  &.mat-divider__content {
    margin-top: 20px;
  }
}
